* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}



:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;


}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
    box-sizing: border-box;
}

.main-container main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

/* Header */

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;

}

.logo {
    width: 5%;
    height: 1%;

}

ul {
    padding-left: 0%;
}

.button-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;


}

.button-nav a {
    border-top: solid 2px transparent;
    padding-top: 4px;
    margin-top: -16px;

}

.button-nav li {
    display: flex;
    justify-self: space-between;
}

.button-nav a:hover {
    color: var(--main-color);
    border-top: solid 2px;


}

/* Info group */
.info-group {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}
.info-group p {
     padding-top: 8px;
}
form {
    display: flex;
    height: 50px;
}

form button {
    border: 1px;
    padding: 15px 16px;

}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

.search::placeholder {
    opacity: 1;
    color: black;
    font-weight: 700;
    text-align: center;

}

.search {
    border: var(--main-bg-color);
}

.button2 {
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    color: var(--main-bg-color);
    background-color: var(--main-color);
}


.filter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter ul {
    display: flex;
    gap: 15px;
}

.filter li:hover {
    background-color: var(--filter-bg-color);

}

.filter i {
    width: 22px;
    height: 22px;

}

.filter li {
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    display: inline-flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.info-legendes {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
   
}

.point-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius:40px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* footer */
.info-feet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg-color);

}

.info-feet div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 33.33%;

}

.info-feet div {
    display: flex;
    padding: 20px;

    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: larger;
}

.hebergements-cards {
    display: flex;
    padding: 30px 0px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.hebergements-cards img {
    align-self: stretch;
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

div .hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}




.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.activites-container {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.activites-card {
    display: flex;
    flex-direction: row;

    flex: 1 0 0;
    gap: 30px;

}

.activites-card a {
    width: 24%;

}

.activites-card .card {
    display: flex;
    flex-direction: column;
    height: 100%;

    box-sizing: border-box;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
    padding: 0%;

}

.activites-card img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.activites-card .card-content {
    display: flex;
    padding: 20px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .logo {
        width: 7%;
        height: 1%;

    }

    .activites-card img {
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0 0;

    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;

    }


    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    /* Header */

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

    }

    .logo {
        display: flex;
        padding: 30px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 10px;
        width: 20%;
    }

    .button-nav {
        font-size: 16px;
        font-weight: 400;
        display: flex;
        gap: 50%;
       
        justify-content: center;

    }

    .button-nav a {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 0%;
        border-bottom: solid 2px transparent;
        padding-bottom: 4px;
        border-bottom-width: 50%;

    }

    .button-nav a:hover {
        color: var(--main-color);
        border-bottom: solid 2px;
        border-top: transparent;

    }

    form {
        display: flex;
        height: 50px;
    }

    form button {
        border: 1px;
        padding: 15px 16px;

    }

    .button1 {
        font-weight: 700;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        fill: black;
        background-color: var(--main-bg-color);
        border-radius: 15px 0px 0px 15px;
    }

    .search::placeholder {
        font-size: 18px;
        opacity: 1;
        color: black;
        font-weight: 700;

    }

    .search {
        border: var(--main-bg-color);
    }

    .button2 {
        font-size: 18px;
        font-weight: 700;
        border-radius: 0px 15px 15px 0px;
        color: var(--main-bg-color);
        background-color: var(--main-color);
    }


    /* Info group */
    .filter {
        display: flex;
        flex-wrap: wrap;
        padding: 0%;
    }

    .filter i {
       font-size: 22px;

    }

    .filter ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        padding-left: 0%;
        font-size: 14px;
    }


    .filter li {
        border: 2px solid var(--filter-bg-color);
        width: 35%;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }


    /* footer */
    .info-feet {
        display: flex;
        flex-direction: column;
        background-size: cover;
        padding: 0%;

    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires section {
        padding: 30px 0 0 0;
      
    }
    /****** Hebergements ***********/
    .hebergements {
       background-color: var(--main-bg-color);
    }
    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards {
        display: flex;
        flex-flow: column;

    }


    /****** Populaires ***********/


    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* Activités */

    .activites-card {
        display: flex;
        flex-direction: column;

    }

    .activites-card a {
        width: 100%;
    }

}
